body {
    background-color: white;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}

h1 {
    text-align: center;
    color: white;
}

#subtitle {
    text-align: center;
}

.container {
    text-align: center;
    background-color: #fff;
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
}
label {
    display:block;
    margin-bottom:10px;
}

#price {
    color: red;
}

#title {
    display: block;
    text-align: center;
    background-color: white;
}

#instructions {
    background-color: white;
}

#warning {
    color: red;
    text-align: center;
    display: block;
}
